h1 {
    font-size: 3em;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#change-text {
    margin-top: 10px;
    font-size: 18px;
    color: green;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    color: blue;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

#hover-text {
    margin-top: 10px;
    font-size: 18px;
    color: red;
}

#pankapcala {
    width: 200px;
    height: auto;
}

/*Bonus Úkol pod tímto komentářem*/

.image-container {
    position: relative;
    display: inline-block;
}

.info {
    display: none;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.5;
}

.image-container:hover .info {
    display: block;
}

/*Úkol v hodině task*/

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    margin: 5px 0;
    cursor: pointer;
}

.task-list li.completed {
    text-decoration: line-through;
}
