h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#change-text {
    margin-top: 10px;
    font-size: 18px;
    color: green;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    color: blue;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

#hover-text {
    margin-top: 10px;
    font-size: 18px;
    color: red;
}

#pankapcala {
    width: 200px;
    height: auto;
}

/*Bonus Úkol pod tímto komentářem*/

.image-container {
    position: relative;
    display: inline-block;
}

.info {
    display: none;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.5;
}

.image-container:hover .info {
    display: block;
}

/*Úkol v hodině task*/

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-list li:hover {
    background-color: #f9f9f9;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

#taskList {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
}
